# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Django related
*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
/media
/static

# Ignore .env file containing sensitive information
.env

# Personal files
hints.txt